---
title: Oldmerkum's Edited Pics
---

    <%= tag :img, :src => "/images/marcum_smoke_effect.jpg" %>
    <div class="caption">
      <p>I used layering and a special brush to get this effect.</p>
    </div>
    <%= tag :img, :src => "/images/marcum_disentegrate_effect.jpg" %>
    <div class="caption">
      <p>This one was similar to the smoke effect pic except there was
         a warp to the original image to help with the illusion.
      </p>
    </div>
    <%= tag :img, :src => "/images/marcum_face_duplicate.jpg" %>
    <div class="caption">
      <p>Cutting out a section, moving/rotating/resizing, smoothing and 
         color matching was used for this masterpiece.
      </p>
    </div>

<div class="container">
  <div class="jumbotron">
    <h3>Gimp Editing References</h3>
    <ul>
      <li>
        <%= link_to 'smoke effect tutorial', 'https://www.youtube.com/watch?v=KvGTWmkGx7Q' %>
      </li>
      <li>
        <%= link_to 'disentegrate effect tutorial', 'https://www.youtube.com/watch?v=kUt2cditN1g' %>    
      </li>      
      <li>
        <%= link_to 'face swap tutorial', 'https://turbofuture.com/graphic-design-video/GIMP-How-To-Face-Swap-Yourself' %>    
      </li>
  </div>
</div>
